
	
	body{
		background-image: url(back.jpg);
		position: fixed;
		
	}
	
	#corner{
		position: fixed;
		left: 300px;
		top: 45px;
		padding: 16px;
		height: 445px;
		width: 710px;
		border-radius: 25px 80px;		
		background-color:aliceblue;
		
		box-shadow: 10px 12px 40px #362222;
		
	}
	ul{
		position: fixed;
	    top: 0px;
		left: 0px;
 	    height: 100%;
		width: 9%;
		padding: 0px;
		margin: 0px;
		list-style-type: none;
		background-color:#000000;
		
		box-shadow: 10px 12px 40px #1E1616;
	}
	li a{
		padding: 25px;
		font-family: calibri light;
		text-align: center;
		display: block;
		color: aliceblue;
		
	}
	li a:hover{
		background-color: #533939;
	}
	#fname{		
		position: fixed;
		left: 350px;
		top: 105px;
		font-family: calibri light;
	}
	#lname{
		
		position: fixed;
		left: 350px;
		display: block;
		top: 155px;
		font-family: calibri light;
	}
	#f-box{
		padding: 6px;
		position: fixed;
		left: 500px;
		top:100px;
	}
	#l-box{
		padding: 6px;
		position: fixed;
		left: 500px;
		top:150px;
	}
	#male{		
		position: fixed;
	    left: 500px;		
		top: 210px;
		font-family: calibri light;
	}
	#female {		
		position: fixed;
	    left: 580px;		
		top: 210px;
		font-family: calibri light;
	}
	#radio1{
		position: fixed;
		left: 505px;
		top: 237px;
	}
	#radio2{
		position: fixed;
		left: 590px;
		top: 237px;
	}
	#gender{
		position: fixed;
		font-family: calibri light;
		left:350px;
		top: 210px;
		
	}
	#date{
		position:fixed;
		top: 300px;
		left: 500px;
	}
	#dob{
		font-family: calibri light;
		position: fixed;
		left: 350px;
		top: 305px;
		
	}
	#reset{
		background-color: #4CAF50;
    border: none;
    color: white;
		padding: 5px 41px 5px 41px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
		position: fixed;
		left: 500px;
		top: 450px;
				box-shadow: 1px 10px 20px #625555;

		font-family: calibri light;
		
		
		
	}
	#next{
		background-color: #4CAF50;
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
		position: fixed;
		left: 700px;
		top: 450px;
		font-size: 1em;
						box-shadow: 1px 10px 20px #625555;

		font-family: calibri light;
		padding: 5px 41px 5px 41px;
		
	}
	#eid{
		position: fixed;
		left: 350px;
		top: 350px;
		font-family: calibri light;
		
	}
	#e-box{
		position: fixed;
		left: 500px;
		top: 350px;
		
	}
	#home{
		position: fixed;
		width: 62px;
		padding: 30px;
		display: none;
	}
	#contact{
		position: fixed;
		width: 62px;
		top: 150px;
		padding: 30px;
		display: none;
	}
	#phone{
		position: fixed;
		left: 350px;
		top: 400px;
		font-family: calibri light;
		
	}
	#p-box{
		position: fixed;
		left: 500px;
		top: 395px;
	}
	#e-box-error{
		position: fixed;
		left: 700px;
		top: 350px;
		
		font-family: calibri light;
		font-size: 12px;
	}
	#p-box-error{
		position: fixed;
		left: 700px;
		top: 396px;
		font-family: calibri light;
		font-size: 12px;
	}
	#l-box-error{
		position: fixed;
		left: 700px;
		top: 155px;
		font-family: calibri light;
		font-size: 12px;
	}
	#f-box-error{
		position: fixed;
		left: 700px;
		top: 105px;
		font-family: calibri light;
		font-size: 12px;
	}
	#gender-error{
		position: fixed;
		left: 700px;
		top: 230px;
		font-family: calibri light;
		font-size: 12px;
    }
	
